.description {
  width: 208px;
  height: 320px;
}
.description-hidden {
  display: none !important;
}
.border-radius-5 {
  border-radius: 5%;
}
.description:hover .description-hidden{ 
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  /* animation: identifier .5s ease-in-out; */
  transform-style: preserve-3d;
  background-color: #003;
  color: #fff;
  width: 208px;
  height: 320px;
  border-radius: 5%;
}
@keyframes identifier {
  from {
      height: 20%;
  }
  to {
      height: 57%;
  }
}
.description-toHide {
  position: relative;
}
.description:hover .description-toHide {
  display: none;
}
.description-hidden h5 {
  text-align: center !important;
}
.h-320px {
  height: 320px;
}
.absolute {
  position: absolute;
  opacity: unset !important;
}
.text-align-center {
  text-align: center;
  width: 100%;
  color: rebeccapurple;
}
.description-bg-color {
  padding: 10px 10px;
  bottom: 0;
  border-radius: 5%;
  position: absolute;
  background-color: #0003;
  color: #fff;
  opacity: unset !important;
}
.description-hidden h5 {
  padding: 10px !important;
  position: absolute;
  color: green;
}
.from-down {
  animation: identifier .5s ease-in-out;
  overflow: hidden;
}
@media screen and (max-width: 1190px) {
  .responsiveWidth{
    width: 75% !important;
  }
}
